ORIGIN=

POSTGRESQL_EXTERNAL_URL

PORT
JWT_SECRET

URL_N8N
TOKEN_N8N
WEBHOOK_N8N_USER=
WEBHOOK_N8N_PASS=

EVOLUTION_API_URL=
TOKEN_EVOLUTION=

MAIL_HOST
MAIL_PORT
MAIL_SECURE
MAIL_USER
MAIL_PASS
MAIL_FROM

# Google OAuth (obrigatório para login social)
GOOGLE_CLIENT_ID=
